# Python byte-compiled files
__pycache__/

# Python virtual environment
venv/

# tools
.mypy_cache/
.pytest_cache/
.ruff_cache/

# build artifacts
build/
dist/

# IDEs and editors
.vscode/
.idea/
*.swp

# user data
yarc.sav
